::selection {
    background-color: #242431;
    color: #FFF;
}

.forkme {
    transform: rotate(45deg);
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    z-index: 30;
    width: 240px;
    right: -60px;
    top: 46px;
    border: solid #7B7979;
    text-align: center;
}

.forkme a {
    color: #404040;
    display: block;
    font: 13px Helvetica Neue, Arial, sans-serif;
    margin: 0.05em 0 0.075em;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
}

.inline-input {
    margin: 0;
    top: 18px;
    padding: 0 10px;
}

card {
    white-space: pre;
    overflow: hidden;
}

card .gold {
    font-weight: bold;
}

card .extra {
    color: gray;
}

card .comm {
    background-color: #E6E6E6;
}

card .rare {
    background-color: #A9D0F5;
}

card .epic {
    background-color: #BCA9F5;
}

card .lgnd {
    background-color: #F7BE81;
}

[sticky] {
    background-color: white;
}